<div data-role="header" id="header">
	<h1>Process Owner</h1>
	<a id="options" data-role="button" data-iconpos="notext" data-icon="gear">Opzioni</a>
</div><!-- /header -->

<div data-role="content" id="content">

	<p>Home page process owner</p>
	
	<ul data-role="listview" data-inset="true">
		<li><a href="#newprocess">Nuovo processo</a></li>
		<li><a href="#checkstep">Controllo passi</a></li>
		<li><a href="#processes">Gestione processi</a></li>
	</ul>

</div><!-- /content -->

<div data-role="panel" id="panel" data-position="left" data-display="overlay">
	
	<button data-rel="close" data-icon="delete" data-mini="true">Chiudi pannello</button>

	<p>Ciao ProcessOwner!</p>
	
	<a data-role="button" id="logout" data-icon="power">Logout</a>

</div><!-- panel -->