<div data-role="header">
	<h1><%= process.title %></h1>
	<div class="ui-btn-left">
		<a id="options" data-role="button" data-iconpos="notext" data-icon="bars">Opzioni</a>
		<a href="#home" data-role="button" data-iconpos="notext" data-icon="home">Home</a>
		<% if(processData) { %>
			<a href="#process?id=<%= process.id %>" data-role="button" data-iconpos="notext" data-icon="back">Back</a>
		<% } 
		else { %>
			<a href="#processes" data-role="button" data-iconpos="notext" data-icon="back">Back</a>
		<% } %>
	</div>
	
</div><!-- /header -->

<div id="content">

	<form>
		<input id="search" data-type="search">
	</form>

	<% if(processData) { %>
		
		<ul id="processData" data-inset="true" data-role="listview" data-input="#search" data-filter="true" data-autodividers="false">
			<% for(i=0; i<processData.length; i++) { %>
				<li>
					<p><strong><%= processData[i].username %></strong></p>
					<% for(j=0; j<stepData.data.length; j++) {
						var value = processData[i].data[j];
						if(stepData.data[j].type == "image") { %>
							<p>immagine: <a href="#pop<%= value.imageUrl %>" data-rel="popup"><%= stepData.data[j].name %></a></p>
							<div data-role="popup" id="pop<%= value.imageUrl %>" class="photopopup">
								<a data-rel="back" data-role="button" data-icon="delete" data-iconpos="notext" class="ui-btn-right">Close</a>
								<img src="css/images/<%= value.imageUrl %>.png">
							</div>
						<% }
						else if(stepData.data[j].type == "geographic") { %>
							<p><%= stepData.data[j].name %>: <%= value.coordinates.latitude %>;<%= value.coordinates.longitude %></p>
						<% }
						else if(stepData.data[j].type == "numeric") { %>
							<p><%= stepData.data[j].name %>: <%= value.numericValue %></p>
						<% }
						else if(stepData.data[j].type == "textual") { %>
							<p><%= stepData.data[j].name %>: <%= value.textValue %></p>
						<% }
						else if(stepData.data[j].type == "temporal") { %>
							<p><%= stepData.data[j].name %>: <%= value.timeValue %></p>
						<% }
					} %>
				</li>
			<% } %>
		</ul>
	<% }
	else { %>

		<ul data-role="listview" data-inset="true" data-input="#search" data-filter="true" data-autodividers="false">
			<% _.each(steps, function(mystep) { %>
				<li>
					<a href="#process?step=<%= mystep.get("id") %>">
						<%= mystep.get("description") %>
					</a>
				</li>
			<% }); %>
		</ul>
	<% } %>
</div><!-- /content -->

<div data-role="panel" id="panel" data-position="left" data-display="overlay">
	
	<button data-rel="close" data-icon="delete" data-mini="true">Chiudi pannello</button>

	<p>Ciao ProcessOwner!</p>
	
	<a data-role="button" id="logout" data-icon="power">Logout</a>

</div><!-- panel -->