<div data-role="header">
	<h1>Gestione processi</h1>
	<div class="ui-btn-left">
		<a id="options" data-role="button" data-iconpos="notext" data-icon="gear">Opzioni</a>
		<a href="#home" data-role="button" data-iconpos="notext" data-icon="home">Home</a>
	</div>
</div><!-- /header -->

<div id="content">

	<form> <!-- class="ui-filterable" -->
		<input id="search" data-type="search" placeholder="Ricerca processo...">
	</form>

	<ul data-role="listview" data-inset="true" data-input="#search" data-filter="true" data-autodividers="false">
	
		<li>
			<a href="#processes">
				<img src="css/images/Tesoro.png"></img>
				<h3>Caccia al tesoro</h3>
				<p>Segui gli indizi e scopri tutti i tesori</p>
			</a>
		</li>
		
		<li>
			<a href="#processes">
				<img src="css/images/Prezzo.png"></img>
				<h3>Prezzo migliore</h3>
				<p>Indagine di mercato</p>
			</a>
		</li>
		
		<li>
			<a href="#processes">
				<img src="css/images/Default.png"></img>
				<h3>Default</h3>
				<p>Sample processo</p>
			</a>
		</li>
		
	</ul>
		
</div><!-- /content -->

<div data-role="panel" id="panel" data-position="left" data-display="overlay">
	
	<button data-rel="close" data-icon="delete" data-mini="true">Chiudi pannello</button>

	<p>Ciao ProcessOwner!</p>
	
	<a data-role="button" id="logout" data-icon="power">Logout</a>

</div><!-- panel -->