<div data-role="header">
    <h1>Gestione passo</h1>
</div>
<!--Controllo se il processo è gia stato iscritto dall'utente-->
<% if(process.start==false <!--O variabile a tua scelta-->){%>
    <div id="content" >
        <form id="subscribeForm">
            <label for="submit">Vuole iscriversi?</label>
            <input type="submit" id="submit" value="Iscriviti" />
        </form>
    </div>
<%}
else{ %>
<div id="content">
    <ul data-role="listview" data-inset="true">
    <li data-role="fieldcontain">
    <table data-role="table" id="process-desc" data-mode="reflow">
        <thead>
        <tr>
            <th>Nome</th>
            <th>Descrizione</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Passo 1</td>
            <td>Primo passo del</td>
        </tr>
        </tbody>
    </table>
    </li>

    <li data-role="fieldcontain">
        <p>Inserimento valori</p>
    </li>

        <li data-role="fieldcontain">
    <form id="insertValues" accept-charset="utf-8">
            <table data-role="table" id="tab-number" data-mode="reflow">
                <thead>
                <tr>
                    <th>Minimo</th>
                    <th>Massimo</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>-330</th>
                    <td>500</td>
                </tr>
                </tbody>
            </table>
        <input type="text" id="number" required />
        </li>

        <li data-role="fieldcontain">
            <label for="text" id="labelText">Inserisci testo</label>
        </li>

        <li data-role="fieldcontain">
            <input type="text" id="text" required />
        </li>

        <li data-role="fieldcontain">
                <label for="text" id="labelImage">Inserisci immagine</label>
        </li>
        <li data-role="fieldcontain">
                <input type="file" id="image" required accept="image/png"/>
        </li>
        <li data-role="fieldcontain">
            <input type="submit" id="submit" value="Invia" />
        </li>
    </form>
    </ul>
</div>
<% } %>