<div data-role="header">
	<h1>Registrazione</h1>
</div><!-- /header -->

<div id="content">

	<form id="registerForm">

    <label for="name">Nome</label>
    <input type="text" id="name" required />

    <label for="surname">Cognome</label>
    <input type="text" id="surname" required />

    <label for="username">Username</label>
    <input type="text" id="username" required />

		<label for="email">Email</label>
		<input type="text" id="email" required />

    <label for="borndate">Data di nascita</label>
    <input type="date" id="borndate" required />

		<label for="password">Password</label>
		<input type="password" id="password" required />

    <label for="repassword">Ripeti password</label>
    <input type="password" id="repassword" required />

		<input type="submit" id="submit" value="Registrati" />
    <input type="reset" id="reset" value="Annulla" />

	</form>

</div><!-- /content -->
