<div data-role="header">
  <h1>Dati Utente</h1>
    <div class="ui-btn-left">
        <a id="options" data-role="button" data-iconpos="notext" data-icon="bars">Opzioni</a>
        <a href="#home" data-role="button" data-iconpos="notext" data-icon="home">Home</a>
    </div>
</div>

<table data-role="table" id="my-table" data-mode="reflow">
  <thead>
    <tr>
      <th>Username</th>
      <th>Nome</th>
      <th>Cognome</th>
      <th>Data di nascita</th>
      <th>Email</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= user.id %>gmarcomi</th>
      <td><%= user.name %></td>
      <td><%= user.last %></td>
      <td><%= user.born %></td>
      <td><%= user.email %></td>
    </tr>
  </tbody>
</table>

<div data-role="panel" id="panel" data-position="left" data-display="overlay">

    <button data-rel="close" data-icon="delete" data-mini="true">Chiudi pannello</button>

    <p>Ciao <%= user.id %></p>

    <a data-role="button" id="setData" data-icon="user">Gestione account</a>

    <a data-role="button" id="logout" data-icon="power">Logout</a>

</div><!-- panel -->