<%
/*!
* \File: loginTemplate.html
* \Author: Vanni Giachin <vanni.giachin@gmail.com>
* \Date: 2014-05-26
* \LastModified: 2014-07-10
* \Class: loginTemplate
* \Package: com.sirius.sequenziatore.client.view
* \Brief: template della pagina di autenticazione
*/
%>
<div data-role="header">
	<h1>Autenticazione</h1>
</div><!-- /header -->

<div id="content">

	<form id="loginForm">

		<label for="username">Username</label>
		<input type="text" id="username" required />

		<label for="password">Password</label>
		<input type="password" id="password" />

		<input type="submit" id="submit" value="Accedi"/>

	</form>
	<p>Non sei registrato? <a href="#register"> Clicca per iscriverti</a>.</p>

</div><!-- /content -->

<div data-role="popup" class="alertPanel" data-overlay-theme="b" data-history="false" data-corners="false">
	<a href="#" data-rel="back" data-role="button" data-icon="delete" data-iconpos="notext" class="ui-btn-right">Close</a>
	<div data-role="header">
		<h2>Errore</h2>
	</div>
	<div class="ui-content">
		<p></p>
	</div>
</div><!-- /alert -->