<div data-role="header">
    <h1><%= process.name %></h1>
    <div class="ui-btn-left">
        <a id="options" data-role="button" data-iconpos="notext" data-icon="bars">Opzioni</a>
        <a href="#home" data-role="button" data-iconpos="notext" data-icon="home">Home</a>
    </div>

</div><!-- /header -->

<div id="content">
    <div id="widget" />
</div><!-- /content -->

<div data-role="panel" id="panel" data-position="left" data-display="overlay">

    <button data-rel="close" data-icon="delete" data-mini="true">Chiudi pannello</button>

    <p>Ciao <%=username >!</p>

    <a data-role="button" id="logout" data-icon="power">Logout</a>

</div><!-- panel -->
