<%
/*!
* \File: addStepTemplate.html
* \Author: Vanni Giachin <vanni.giachin@gmail.com>
* \Date: 2014-05-26
* \LastModified: 2014-07-13
* \Class: addStepTemplate
* \Package: com.sirius.sequenziatore.client.view.processowner
* \Brief: template della pagina di creazione o modifica di un passo
*/
%>
<div data-role="header" id="header">
	<h1>Aggiungi passo</h1>
	<div class="ui-btn-left">
		<a id="options" data-role="button" data-iconpos="notext" data-icon="bars">Opzioni</a>
		<a href="#home" data-role="button" data-iconpos="notext" data-icon="home">Home</a>
		<a href="" class="back" data-role="button" data-iconpos="notext" data-icon="back">Back</a>
	</div>
</div><!-- /header -->

<div data-role="content" id="content" class="searchList">

	<form id="addStepForm" accept-charset="utf-8" data-block="<%= blockId %>" data-step="<%= step.id %>">

		<ul data-role="listview" data-inset="true" name="description">
			<li data-role="fieldcontain">
				<label for="stepDescription">Descrizione passo:</label>
				<textarea id="processDescription" maxlength="300" required><%= step._description ? step._description : step.description %></textarea>
			</li>
			<li data-role="fieldcontain">
				<label for="requiresApproval">Richiede approvazione</label>
				<input type="checkbox" id="requiresApproval" <%= step._requiresApproval || step.requiresApproval ? "checked" : null %>/>
				<label for="optional">Passo opzionale</label>
				<input type="checkbox" id="optional" <%= step._optional || step.optional ? "checked" : null %>/>
				<p class="label">Aggiungi dato:</p>
				<div data-role="controlgroup" data-type="horizontal" id="buttonsArea" data-corners="false">
					<% if( step ) {
						var textualData = step._textualData ? step._textualData : step.textualData;
						var imageData = step._imageData ? step._imageData : step.imageData;
						var numericData = step._numericData ? step._numericData : step.numericData;
					} if(!( textualData && imageData && numericData )) { %>
						<% if( !textualData ) { %>
							<button data-mini="true" data-inline="false" id="addTextualData">Testuale</button>
						<% } if( !imageData ) { %>
							<button data-mini="true" data-inline="false" id="addImageData">Immagine</button>
						<% } if( !numericData ) { %>
							<button data-mini="true" data-inline="false" id="addNumericData">Numerico</button>
						<% } %>
					<% } %>
					<button data-role="button" data-icon="info" data-mini="true" class="helpButton">Help</button>
				</div>
		
			</li>
		</ul>

		<div class="hide<%= textualData ? " visible" : null %>">
			<ul data-role="listview" data-inset="true" id="textualDataList">
				<li data-role="list-divider" class="add-data">
					<button data-icon="plus" data-mini="true" data-inline="true" id="addTextualData">Dato testuale</button>
				</li>
				<% if(textualData) { _.each( textualData, function( data ) { %>
					<li data-role="fieldcontain" class="data-item">
						<div>
							<a href="" class="delete-data" title="elimina dato" data-role="button" data-iconpos="notext" data-icon="delete"></a>
						</div>
						<div class="textualData">
							<label>Etichetta dato:</label>
							<input type="text" pattern="(\w| )*\w+(\w| )*" maxlength="25" value="<%= data.description %>" required />
						</div>
					</li>
				<% }); } if( !textualData || !textualData.length ) { %>
					<li data-role="fieldcontain" class="data-item">
						<div>
							<a href="" class="delete-data" title="elimina dato" data-role="button" data-iconpos="notext" data-icon="delete"></a>
						</div>
						<div class="textualData">
							<label>Etichetta dato:</label>
							<input type="text" pattern="(\w| )*\w+(\w| )*" maxlength="25" <%= textualData ? "required" : null %> />
						</div>
					</li>
				<% } %>
			</ul>
		</div>

		<div class="hide<%= imageData ? " visible" : null %>">
			<ul data-role="listview" data-inset="true" id="imageDataList">
				<li data-role="list-divider" class="add-data">
					<button data-icon="plus" data-mini="true" data-inline="true" id="addImageData">Immagine</button>
				</li>
				<% if(imageData) { _.each( imageData, function( data ) { %>
					<li data-role="fieldcontain" class="data-item">
						<div>
							<a href="" class="delete-data" title="elimina dato" data-role="button" data-iconpos="notext" data-icon="delete"></a>
						</div>
						<div class="imageData">
							<label>Etichetta immagine:</label>
							<input type="text" pattern="(\w| )*\w+(\w| )*" maxlength="25" value="<%= data.description %>" required />
						</div>
					</li>
				<% }); } if(!imageData || !imageData.length) { %>
					<li data-role="fieldcontain" class="data-item">
						<div>
							<a href="" class="delete-data" title="elimina dato" data-role="button" data-iconpos="notext" data-icon="delete"></a>
						</div>
						<div class="imageData">
							<label>Etichetta immagine:</label>
							<input type="text" pattern="(\w| )*\w+(\w| )*" maxlength="25" <%= imageData ? "required" : null %> />
						</div>
					</li>
				<% } %>
			</ul>
		</div>

		<div class="hide<%= numericData ? " visible" : null %>">
			<ul data-role="listview" data-inset="true" id="numericDataList">
				<li data-role="list-divider" class="add-data">
					<button data-icon="plus" data-mini="true" data-inline="true" id="addNumericData">Dato numerico</button>
				</li>
				<% if(numericData) { for(var i=0; i<numericData.length; i++) { %>
					<li data-role="fieldcontain" class="data-item">
						<div>
							<a href="" class="delete-data" title="elimina dato" data-role="button" data-iconpos="notext" data-icon="delete"></a>
						</div>
						<div class="numericData">
							<label>Etichetta dato:</label>
							<input type="text" pattern="(\w| )*\w+(\w| )*" maxlength="25" value="<%= numericData[i].description %>" required />
							<label for="isDecimal<%= i %>">Cifre decimali permesse</label>
							<input type="checkbox" id="isDecimal<%= i %>" <%= numericData[i].isDecimal ? "checked" : null %>/>
							<input type="checkbox" id="minValueCheck<%= i %>" class="checkButton" <%= numericData[i].minValue ? "checked" : null %>/>
							<label for="minValueCheck<%= i %>">Valore minimo</label>
							<div class="hide<%= numericData[i].minValue ? " visible" : null %>">
								<input type="number" id="minValue-<%= i %>" min="-999999999" max="999999999" value="<%= numericData[i].minValue %>" <%= numericData[i].minValue ? "required" : null %> />
							</div>
							<input type="checkbox" id="maxValueCheck<%= i %>" class="checkButton" <%= numericData[i].maxValue ? "checked" : null %>/>
							<label for="maxValueCheck<%= i %>">Valore massimo</label>
							<div class="hide<%= numericData[i].maxValue ? " visible" : null %>">
								<input type="number" id="maxValue-<%= i %>" min="-999999999" max="999999999" value="<%= numericData[i].maxValue %>" <%= numericData[i].maxValue ? "required" : null %> />
							</div>
						</div>
					</li>
				<% } } if(!numericData || !numericData.length) { %>
					<li data-role="fieldcontain" class="data-item">
						<div>
							<a href="" class="delete-data" title="elimina dato" data-role="button" data-iconpos="notext" data-icon="delete"></a>
						</div>
						<div class="numericData">
							<label for="stepDescription">Etichetta dato:</label>
							<input type="text" pattern="(\w| )*\w+(\w| )*" maxlength="25" <%= numericData ? "required" : null %> />
							<label for="isDecimal">Cifre decimali permesse</label>
							<input type="checkbox" id="isDecimal"/>
							<input type="checkbox" id="minValueCheck" class="checkButton"/>
							<label for="minValueCheck">Valore minimo</label>
							<div class="hide">
								<input type="number" id="minValue" min="-999999999" max="999999999"/>
							</div>
							<input type="checkbox" id="maxValueCheck" class="checkButton"/>
							<label for="maxValueCheck">Valore massimo</label>
							<div class="hide">
								<input type="number" id="maxValue" min="-999999999" max="999999999"/>
							</div>
						</div>
					</li>
				<% } %>
			</ul>
		</div>

		<ul data-role="listview" data-inset="true" id="geographicData">
			<% if( step.requiredPosition ) {
				var geographicData = step.requiredPosition
			} %>
			<li data-role="list-divider">
				<label for="geographicDataCheck">Vincoli geografici</label>
				<input type="checkbox" id="geographicDataCheck" <%= geographicData ? "checked" : null %>/>
			</li>
			<li data-role="fieldcontain">
				<label for="latitude">Latitudine:</label>
				<input id="latitude" type="text" pattern="(\+|-)?\d+(.\d+)?" maxlength="25" value="<%= geographicData ? geographicData.latitude : null %>" <%= geographicData ? "required" : null %> />
			</li>
			<li data-role="fieldcontain" id="longitudeBox">
				<label for="longitude">Longitudine:</label>
				<input id="longitude" type="text" pattern="(\+|-)?\d+(.\d+)?" maxlength="25" value="<%= geographicData ? geographicData.longitude : null %>" <%= geographicData ? "required" : null %> />
			</li>
			<li data-role="fieldcontain" id="radiusBox">
				<label for="radius">Raggio (metri):</label>
				<input id="radius" type="text" pattern="\+?\d+(.\d+)?" maxlength="25" value="<%= geographicData ? geographicData.radius : null %>"/>
			</li>
		</ul>

		<div data-role="controlgroup" data-type="horizontal">
			<button type="submit" data-icon="check" data-inline="true" data-mini="true" id="saveStep">Salva passo</button>
			<button data-icon="forbidden" data-inline="true" data-mini="true" id="cancelStep">Annulla</button>
		</div>
	
	</form>

</div><!-- /content -->

	// restituisce i dati e i vincoli inseriti dall'utente relativi al passo in creazione
<div data-role="panel" id="panel" data-position="left" data-display="overlay">
	
	<button data-rel="close" data-icon="delete" data-mini="true">Chiudi pannello</button>

	<p>Ciao <%= username %>!</p>
	
	<a data-role="button" id="logout" data-icon="power">Logout</a>

</div><!-- panel -->

<div data-role="popup" class="alertPanel" data-overlay-theme="a" data-history="false" data-corners="false">
	<a href="#" data-rel="back" data-role="button" data-icon="delete" data-iconpos="notext" class="ui-btn-right">Close</a>
	<div data-role="header">
		<h3></h3>
	</div>
	<div role="main" class="ui-content">
		<p></p>
	</div>
</div><!-- /alert -->

<div data-role="popup" id="blocksHelp" data-overlay-theme="a" data-history="false" data-corners="false">
	<a href="#" data-rel="back" data-role="button" data-icon="delete" data-iconpos="notext" class="ui-btn-right">Close</a>
	<div data-role="header">
		<h3>Nuovo dato</h3>
	</div>
	<div role="main" class="ui-content">
		<p>Per superare il passo, è possibile richiedere dei dati scelti tra le seguenti tipologie</p>
		<p><strong>Testuale:</strong></p>
		<p>L'utente dovrà inserire del testo non nullo.</p>
		<p><strong>Immagine:</strong></p>
		<p>L'utente dovrà caricare un'immagine o scattare una foto.</p>
		<p><strong>Numerico:</strong></p>
		<p>L'utente dovrà inserire un numero che rispetti i vincoli stabiliti.</p>
	</div>
</div><!-- /blocksHelp -->
