<div data-role="header">
	<h1>Nuovo processo</h1>
	<div class="ui-btn-left">
		<a id="options" data-role="button" data-iconpos="notext" data-icon="bars">Opzioni</a>
		<a href="#home" data-role="button" data-iconpos="notext" data-icon="home">Home</a>
	</div>
</div><!-- /header -->

<div id="content">
	
	<div class="tabs">

		<form id="processForm" accept-charset="utf-8">
			
			<div id="processDefinition" class="mainTab">
				<ul data-role="listview" data-inset="true">
					<li data-role="fieldcontain">
						<label for="name">Nome processo:</label>
						<input type="text" id="name" maxlength="25" required/>
					</li>
					<li data-role="fieldcontain">
						<label for="description">Descrizione:</label>
						<textarea id="description" maxlength="300" required></textarea>
					</li>
					<li data-role="fieldcontain">
						<input type="checkbox" id="dateOfTerminationCheck" class="checkButton" />
						<label for="dateOfTerminationCheck">Data di terminazione</label>
						<div class="hide">
							<input type="date" id="dateOfTermination"/>
							<input type="time" id="timeOfTermination"/>
						</div>
						<input type="checkbox" id="completionsMaxCheck" class="checkButton" />
						<label for="completionsMaxCheck">Massimo numero di completamenti</label>
						<div class="hide">
							<input type="number" id="completionsMax"/>
						</div>
						<input type="checkbox" id="maxTreeCheck" class="checkButton" />
						<label for="maxTreeCheck">Alberi da completare</label>
						<div class="hide">
							<input type="number" id="maxTree"/>
						</div>
						
						<input type="button" href="#stepsDefinition" value="Definizione passi" class="tabButton" data-icon="carat-r" data-inline="true"/>
					</li>
						
					<li data-role="fieldcontain">
						<input type="submit" id="submit" value="Salva processo" data-inline="true"/>
						<input type="button" id="cancel" value="Annulla" data-inline="true"/>
					</li>
				</ul>
			</div>

			<div id="stepsDefinition" class="tab">
				<ul data-role="listview" data-inset="true">
						
					<li data-role="fieldcontain">
						<input type="button" href="#processDefinition" value="Definizione processo" class="tabButton" data-icon="carat-l" data-inline="true"/>
						<input type="button" href="#addStep" value="Aggiungi passo" class="tabButton" data-icon="plus" data-inline="true"/>
					<% if(steps) { %>
					</li>
						<li data-role="fieldcontain">
							<h3>crea lista passi</h3>
						</li>
					<% }
					else { %>
						<h3>Nessun passo creato</h3>
					</li>
					<% } %>
					<li data-role="fieldcontain">
						<input type="submit" id="submit" value="Salva processo" data-inline="true"/>
						<input type="button" id="cancel" value="Annulla" data-inline="true"/>
					</li>
				</ul>
			</div>
			
		</form>
			
			<div id="addStep" class="tab">
				<ul data-role="listview" data-inset="true">
					<li data-role="fieldcontain">
						<label for="description">Descrizione:</label>
						<textarea id="description" maxlength="300" required></textarea>
					</li>
					<li data-role="fieldcontain">
						<input type="checkbox" id="textDataCheck" class="checkButton" />
						<label for="textDataCheck">Aggiungi dato testuale</label>
						<div class="hide">
							<input type="text" id="textData" placeholder="descrizione dato..."/>
						</div>
						<input type="checkbox" id="numericDataCheck" class="checkButton" />
						<label for="numericDataCheck">Aggiungi dato numerico</label>
						<div class="hide">
							<input type="text" id="numericData" placeholder="descrizione dato..."/>
						</div>
						<input type="checkbox" id="imageDataCheck" class="checkButton" />
						<label for="imageDataCheck">Aggiungi immagine</label>
						<div class="hide">
							<input type="text" id="imageData" placeholder="descrizione dato..."/>
						</div>
					</li>
					<li data-role="fieldcontain">
						<div class="ui-field-contain">
							<label for="nextStepSelect" class="select">Passo successivo:</label>
							<% if(steps) { %>
								<select id="nextStepSelect">
								<option value="standard">Scegli passo</option>
								<% for(var i=0; i<steps.length; i++) { %>
									<option value="step<%= i %>">passo <%= i %>: <% steps[i].description %></option>
								<% } %>
								</select>
							<% } else { %>
								<select id="nextStepSelect">
									<option value="standard">Nessun passo disponibile</option>
								</select>
							<% } %>
						</div>
						<input type="checkbox" id="requiresApproval"/>
						<label for="requiresApproval">Richiede approvazione umana</label>
						<input type="checkbox" id="optional"/>
						<label for="optional">Passo facoltativo</label>
					</li>
					<li data-role="fieldcontain">
						<div class="hide" id="numericConstraintsContainer">
							<input type="checkbox" id="numericConstraintsCheck" class="checkButton" />
							<label for="numericConstraintsCheck">Aggiungi vincolo numerico</label>
							<div class="hide">
								<label for="minDigit">Numero minimo di cifre:</label>
								<input type="number" id="minDigit"/>
								<label for="minDigit">Numero massimo di cifre:</label>
								<input type="number" id="maxDigit"/>
								<label for="minDigit">Valore minimo accettato:</label>
								<input type="number" id="minValue"/>
								<label for="minDigit">Valore massimo accettato:</label>
								<input type="number" id="maxValue"/>
								<label for="isDecimal">Può contenere cifre decimali</label>
								<input type="checkbox" id="isDecimal"/>
							</div>
						</div>
						<input type="checkbox" id="geographicConstraintsCheck" class="checkButton" />
						<label for="geographicConstraintsCheck">Aggiungi vincolo geografico</label>
						<div class="hide">
							<label for="latitude">Latitudine:</label>
							<input type="number" id="latitude"/>
							<label for="longitude">Longitudine:</label>
							<input type="number" id="longitude"/>
							<label for="radious">Raggio di tolleranza:</label>
							<input type="number" id="radious"/>
						</div>
					</li>
					<li data-role="fieldcontain">
						<input type="button" id="saveStep" value="Salva passo" data-inline="true"/>
						<input type="button" id="cancelStep" value="Annulla" data-inline="true"/>
					</li>
				</ul>
			</div>

		</div>

</div><!-- /content -->


<div data-role="panel" id="panel" data-position="left" data-display="overlay">
	
	<button data-rel="close" data-icon="delete" data-mini="true">Chiudi pannello</button>

	<p>Ciao ProcessOwner!</p>
	
	<a data-role="button" id="logout" data-icon="power">Logout</a>

</div><!-- panel -->